<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="model-list.css">
    <title>Document</title>
</head>
<body>
    <div class="model" id="model1">
        <div id="model1-description" class="model-description">
            <div class="model-icon-title">
                <div id="model1-icon" class="model-icon"></div>
                <div id="model1-name" class="model-title">Model A</div>
            </div>
            <div id="model1-detail" class="model-detail">minima ipsam, ratione commodi deleniti vel voluptatibus.</div>
            <div id="model1-feature">
                <div id="m1-feature-1">m1-feature-1</div>
                <div id="m1-feature-2">m1-feature-2</div>
            </div>
        </div>
        <button class="model-create-button" id="model1-create-button">Create ></button>
    </div>
</body>
</html>