<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="strategy-list-style.css">
    <title>Document</title>
</head>
<body>
    <div class="strategy-list-container" id="strategy-list-container">
        <label class="container-title" id="container-title">AI Models List</label>
        <div class="model-list" id="model-list">
            <div class="model" id="model1">
                <div id="model1-description" class="model-description">
                    <img id="model1-icon"><label id="model1-name" class="model-title">Model A</label>
                    <span id="model1-detail">minima ipsam, ratione commodi deleniti vel voluptatibus.</span>
                    <span id="model1-feature">
                        <span id="m1-feature-1">m1-feature-1</span>
                        <span id="m1-feature-2">m1-feature-2</span>
                    </span>
                </div>
                <button class="model-create" id="model1-create">Create ></button>
            </div>
            <div class="model" id="model2">
                <div id="model2-description" class="model-description">
                    <img id="model2-icon"><label id="model2-name" class="model2-title">Model B</label>
                    <span id="model2-detail">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                    <span id="model2-feature">
                        <span id="m2-feature-1">m2-feature-1</span>
                        <span id="m2-feature-2">m2-feature-2</span>
                    </span>
                </div>
                <button class="model-create" id="model2-create">Create ></button>
            </div>
            <div class="model" id="model3">
                <div id="model3-description" class="model-description">
                    <img id="model3-icon"><label id="model3-name" class="model3-title">Model C</label>
                    <span id="model3-detail">Ut, quo quidem natus consequuntur harum corrupti delectus.</span>
                    <span id="model3-feature">
                        <span id="m3-feature-1">m3-feature-1</span>
                        <span id="m3-feature-2">m3-feature-2</span>
                    </span>
                </div>
                <button class="model-create" id="model3-create">Create ></button>
            </div>
            <div class="model" id="model4" class="model-description">
                <div id="model4-description"></div>
                    <img id="model4-icon"><label id="model4-name" class="model4-title">Model D</label>
                    <span id="model4-detail">quia cum ipsum recusandae rem perferendis sit.</span>
                    <span id="model4-feature">
                        <span id="m4-feature-1">m4-feature-1</span>
                        <span id="m4-feature-2">m4-feature-2</span>
                    </span>
                </div>
                <button class="model-create" id="model4-create">Create ></button>
            </div>
        </div>
    </div>
</body>
</html>